  /* Start */
  .white-color{color: white;}
  #earth-section{
    min-height: 600px;
  
    background-size: cover;

    background-position: center;
    background-image: url("/dist/stele.png");
    background-color: #000;
  }
  #what-is-section{
    min-height: 600px;
    background-size: cover;

    background-position: center;
    background-image: url("/dist/stele.png");
    background-color: #000;
  }
  .rounded{
    border-radius: 25px!important;
  }