@font-face {
  font-family: "futura-bold";
  src: url("../../assets/fonts/FuturaPTBold.otf"); }

.font-size-81 {
  font-size: 81px; }

.font-size-26 {
  font-size: 26px; }

.font-size-22 {
  font-size: 22px; }

.font-size-115 {
  font-size: 115px; }

.font-size-22 {
  font-size: 22px; }

.font-size-35 {
  font-size: 35px; }

.font-size-40 {
  font-size: 40px; }

.font-size-56 {
  font-size: 56px; }

.font-size-18 {
  font-size: 18px; }

.font-size-59 {
  font-size: 59px; }

.font-size-14 {
  font-size: 14px; }

.font-size-27 {
  font-size: 27px; }
