@font-face {
  font-family: proxima-nova;
  src: url("../../dist/fonts/Inter-Medium.ttf"); }

@font-face {
  font-family: 'Courier New', Courier, monospace;
  src: url("../../dist/fonts/Inter-Medium.ttf"); }

@font-face {
  font-family: "danger";
  src: url("../../dist/fonts/AnotherDanger.otf"); }

p, span {
  font-family: "Courier New", Courier, monospace !important; }

#earth-section h1 {
  background: transparent linear-gradient(to right, #f85032, #e73827) 0% 0% no-repeat padding-box;
  background-clip: padding-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "danger" !important; }

.font-size-81 {
  font-size: 81px; }

.font-size-26 {
  font-size: 26px; }

.font-size-22 {
  font-size: 22px; }

.font-size-115 {
  font-size: 115px; }

.font-size-22 {
  font-size: 22px; }

.font-size-35 {
  font-size: 35px; }

.font-size-40 {
  font-size: 40px; }

.font-size-56 {
  font-size: 56px; }

.font-size-18 {
  font-size: 18px; }

.font-size-59 {
  font-size: 59px; }

.font-size-14 {
  font-size: 14px; }

.font-size-27 {
  font-size: 27px; }

.font-pnb {
  font-family: proxima-nova, sans-serif;
  font-weight: 700;
  font-style: normal; }

.font-pnr {
  font-family: proxima-nova, sans-serif;
  font-weight: 400;
  font-style: normal; }

.font-pnsb {
  font-family: proxima-nova, sans-serif;
  font-weight: 600;
  font-style: normal; }

.font-size-80 {
  font-size: 80px; }

.font-size-64 {
  font-size: 64px; }

.font-size-24 {
  font-size: 24px; }

.font-size-20 {
  font-size: 20px; }

.font-size-18 {
  font-size: 18px; }

.font-size-16 {
  font-size: 16px !important; }

.font-size-32 {
  font-size: 32px; }

.font-size-40 {
  font-size: 40px; }

.font-size-56 {
  font-size: 56px; }

.font-size-23 {
  font-size: 23px; }

h1 {
  font-family: proxima-nova, sans-serif;
  font-weight: 700;
  font-style: normal; }

p {
  font-family: proxima-nova, sans-serif;
  font-weight: 400;
  font-style: normal; }

.font-pnb {
  font-family: proxima-nova, sans-serif;
  font-weight: 700;
  font-style: normal; }

.font-pnr {
  font-family: proxima-nova, sans-serif;
  font-weight: 400;
  font-style: normal; }

.font-pnsb {
  font-family: proxima-nova, sans-serif;
  font-weight: 600;
  font-style: normal; }

.font-pnl {
  font-family: proxima-nova, sans-serif;
  font-weight: 300;
  font-style: normal; }

.font-size-80 {
  font-size: 80px; }
  @media screen and (max-width: 1200px) {
    .font-size-80 {
      font-size: 70px; } }
  @media screen and (max-width: 992px) {
    .font-size-80 {
      font-size: 60px; } }
  @media screen and (max-width: 768px) {
    .font-size-80 {
      font-size: 50px; } }
  @media screen and (max-width: 500px) {
    .font-size-80 {
      font-size: 40px; } }

.font-size-24 {
  font-size: 24px; }

.font-size-20 {
  font-size: 20px; }

.font-size-18 {
  font-size: 18px; }

.font-size-32 {
  font-size: 32px; }

.font-size-40 {
  font-size: 40px; }
  @media screen and (max-width: 768px) {
    .font-size-40 {
      font-size: 32px; } }

.font-size-56 {
  font-size: 56px; }

.font-size-23 {
  font-size: 23px; }

.bg-dark {
  background-color: rgba(52, 58, 64, 0.9) !important; }

.footer {
  background-color: rgba(52, 58, 64, 0.9) !important;
  padding: 2rem 0; }

.cien {
  background: transparent linear-gradient(135deg, #0693e3 0%, #9b51e0 100%) 0% 0% no-repeat padding-box;
  background-clip: padding-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; }

.green {
  background: transparent inear-gradient(135deg, #7adcb4 0%, #00d082 100%) 0% 0% no-repeat padding-box;
  background-clip: padding-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; }

.orange {
  background: transparent linear-gradient(135deg, #fcb900 0%, #ff6900 100%) 0% 0% no-repeat padding-box;
  background-clip: padding-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; }

.red {
  background: transparent linear-gradient(135deg, #ff6900 0%, #cf2e2e 100%) 0% 0% no-repeat padding-box;
  background-clip: padding-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; }

.green-gradient {
  background: transparent linear-gradient(135deg, #7adcb4 0%, #00d082 100%) 0% 0% no-repeat padding-box;
  background-clip: padding-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; }

.green-gradient-blue {
  background: linear-gradient(to right, #e0eafc, #cfdef3) 0% 0% no-repeat padding-box;
  background-clip: padding-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; }

.pale-ocean {
  background: transparent linear-gradient(135deg, #eeeeee 0%, #a9b8c3 100%) 0% 0% no-repeat padding-box;
  background-clip: padding-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; }

.stacking-blue {
  background: transparent linear-gradient(to right, #0575e6, #021b79) 0% 0% no-repeat padding-box;
  background-clip: padding-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; }

.roadmap-red {
  background: transparent linear-gradient(to right, #f85032, #e73827) 0% 0% no-repeat padding-box;
  background-clip: padding-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; }

.team-red {
  background: transparent linear-gradient(to right, #ff9966, #ff5e62) 0% 0% no-repeat padding-box;
  background-clip: padding-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; }

/* Start */
.white-color {
  color: white; }

#earth-section {
  min-height: 600px;
  background-size: cover;
  background-position: center;
  background-image: url("/dist/stele.png");
  background-color: #000; }

.navbar {
  z-index: 99; }

#what-is-section {
  min-height: 600px;
  background-size: cover;
  background-position: center;
  background-image: url("/dist/stele.png");
  background-color: #000; }

body {
  background-size: cover;
  background-position: center;
  background-image: url("/dist/stele.png");
  background-color: #000; }

#presale-section {
  min-height: 900px;
  background-size: contain;
  margin-top: 150px;
  background-repeat: round;
  background-position: bottom;
  background-image: url("/dist/luna.png");
  background-repeat: no-repeat;
  background-color: #000; }

.rounded {
  border-radius: 25px !important; }

.btn-primary {
  background-color: #1badf3;
  font: proxima-nova; }

.btn-primary:hover {
  background-color: #10b3ff;
  font: proxima-nova; }

.btn-secondary {
  background-color: #e1c254; }

.btn-secondary:hover {
  background-color: #f0c529; }

#roadmap-section {
  min-height: 900px;
  background-size: contain;
  margin-top: 150px;
  background-position: bottom;
  background-repeat: no-repeat;
  background-image: url("/dist/rosu.png");
  background-color: #000; }

#staking-section {
  min-height: 900px;
  background-size: contain;
  margin-top: 150px;
  background-position: bottom;
  background-repeat: no-repeat;
  background-image: url("/dist/verde.png");
  background-color: #000; }

#team-section {
  background-color: black; }
  #team-section .team-container {
    max-width: 900px !important;
    margin: auto; }

@media only screen and (max-width: 600px) {
  .list-item {
    flex-wrap: wrap; } }

@media only screen and (max-width: 767px) {
  #earth-section {
    text-align: center; }
    #earth-section .w-75 {
      width: 100% !important; } }
